/*===== FONTS =====*/

@font-face {
  font-family: 'Konnect Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Konnect Regular'), 
  url('../../static/assets/fonts/KonnectRegular.woff') format('woff'),
  url('../../static/assets/fonts/KonnectRegular.ttf') format('truetype'),
  ;
  }

  @font-face {
  font-family: 'Konnect Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Konnect Medium'), 
  url('../../static/assets/fonts/KonnectMedium.woff') format('woff'),
  url('../../static/assets/fonts/KonnectMedium.ttf') format('truetype');
  }
  

  @font-face {
  font-family: 'Konnect SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Konnect SemiBold'), 
  url('../../static/assets/fonts/KonnectSemiBold.woff') format('woff'),
  url('../../static/assets/fonts/KonnectSemiBold.ttf') format('truetype');
  }
  

  @font-face {
  font-family: 'Konnect Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Konnect Bold'), 
  url('../../static/assets/fonts/KonnectBold.woff') format('woff'),
  url('../../static/assets/fonts/KonnectBold.ttf') format('truetype');
  }

  @font-face {
  font-family: 'Konnect ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Konnect ExtraBold'), 
  url('../../static/assets/fonts/KonnectExtraBold.woff') format('woff'),
  url('../../static/assets/fonts/KonnectExtraBold.ttf') format('truetype');
  }
  

  

/*===== VARIABLES CSS =====*/
:root {
  --space-unit:  1em;
  --header-height: 4.68rem;

  
  /*===== Colors =====*/
  --primary-color: #FFFFFF;
  --secondary-color: #2423FA;
  --accent-color: #FF3571;
  --ebony-clay-color: #32353E;
  --black-color: #010101;
  --solitude-color: #FAFAFC;
  --alice-blue-color: #F0F4FF;
  --medium-turquoise-color: #35D2C1;

  --bg-color: var(--primary-color);
  --bg-complementary-color: var(--alice-blue-color);
  --text-color: var(--ebony-clay-color);
  --heading-color: var(--secondary-color);
  --heading-big-color: var(--black-color);
  --cards-color: var(--solitude-color);
  --button-cta-color: var(--secondary-color);
  --button-link-color: var(--accent-color);

  /*===== Font and typography =====*/
  --body-font: 'Konnect', sans-serif;

  /*--biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
*/
  /*===== Font size =====*/
  --biggest-font-size: 2.5rem;
  --h1-font-size: 2.063rem;
  --h2-font-size: 1.313rem;
  --h3-font-size: 1.188rem;
  --title-font-size : 1.438rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.688rem;
  

  /*===== Line height =====*/
  --biggest-font-line-height: 3.331rem;
  --h1-font-line-height: 3.331rem;
  --h2-font-line-height: 1.970rem;
  --h3-font-line-height: 1.677rem;
  --normal-font-line-height: 1.5rem;
  --small-font-line-height: 1.438rem;
  --smaller-font-line-height: 1.188rem;

  /*===== Letter spacing =====*/
  --biggest-font-letter-spacing: -0.025em;
  --h1-font-letter-spacing: 0.025em;
  --h2-font-letter-spacing: 0.01em;
  --normal-font-letter-spacing: 0.008em;
  --small-font-letter-spacing: 0.005em;
  --small-caps-font-letter-spacing: 0.005rem;


  /*===== Font weight =====*/
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*===== z index =====*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;

}

:root, * {
  /*===== Spacing =====*/
  --space-xxxxs: calc(0.125 * var(--space-unit));   /*2px*/
  --space-xxxs:  calc(0.25 * var(--space-unit));    /*4px*/
  --space-xxs:   calc(0.375 * var(--space-unit));   /*6px*/
  --space-xs:    calc(0.5 * var(--space-unit));     /*8px*/
  --space-sm:    calc(1 * var(--space-unit));       /*16px*/
  --space-md:    calc(1.5 * var(--space-unit));     /*24px*/
  --space-lg:    calc(2 * var(--space-unit));       /*32px*/
  --space-xl:    calc(3 * var(--space-unit));       /*48px*/
  --space-xxl:   calc(4 * var(--space-unit));       /*64px*/
  --space-xxxl:  calc(6 * var(--space-unit));       /*96px*/
  --space-xxxxl: calc(10 * var(--space-unit));      /*160px*/
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 3.25rem;
    --h1-font-size: 2.563rem;
    --h2-font-size: 2.063rem;
    --h3-font-size: 1.313rem;
    --title-font-size : 1.688rem;
    --normal-font-size: 1.063rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.688rem;

    
    --biggest-font-line-height: 4.938rem;
    --h1-font-line-height: 4.938rem;
    --h2-font-line-height: 2.625rem;
    --h3-font-line-height: 2.063rem;
    --normal-font-line-height: 1.75rem;
    --small-font-line-height: 1.438rem;
    --smaller-font-line-height: 1.188rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-normal);
  background-color: var(--primary-color);
  color: var(--text-color);
  line-height: 1.6;
  font-feature-settings: 'liga' off;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

p{
  margin-bottom: 1rem;
}
h2,
h3 {
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.text-xs {
  font-size: var(--smaller-font-size);
}

.text-sm {
  font-size: var(--small-font-size);
}

.text-base {
  font-size: var(--normal-font-size);
}

.text-lg {
  font-size: var(--title-font-size);
}

.text-xl {
  font-size: var(--h3-font-size);
}

.text-xxl {
  font-size: var(--h2-font-size);
}

.text-xxxl {
  font-size: var(--h1-font-size);
}

.text-xxxxl {
  font-size: var(--biggest-font-size);
}

.font-normal {
  font-weight: var(--font-normal);
}

.font-medium {
  font-weight: var(--font-medium);
}

.font-bold {
  font-weight: var(--font-bold);
}

.font-extrabold {
  font-weight: var(--font-extrabold);
}

.font-black {
  font-weight: var(--font-black);
}
/*===== CLASS CSS =====*/
.section {
  padding: 7.5rem 0 10rem;
}
.section__padding-off {
  padding: 0;
}
.section-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-extrabold);
  color: var(--heading-color);
  margin-bottom: 2.5rem;
}

.section-subtitle {
  display: block;
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  
}

.services .section-subtitle,
.as-work .section-subtitle,
.works .section-subtitle,
.summary .section-subtitle,
.background-story .section-subtitle,
.knowledge .section-subtitle,
.tools .section-subtitle,
.resume .section-subtitle  {
  color: rgb(54, 55, 56)8;
  font-weight: var(--font-normal);
  font-size: var(--normal-font-size);
}

.section-description {
  width: 100%;
}

.resume .section-description {
  margin-bottom: 40px;
}

.biggest-title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  line-height: var(--biggest-font-line-height);
  text-align: center;
  margin-bottom: 40px;
}

/*===== LAYOUT =====*/
.bd-container {
  max-width: 1168px;
  width: 90%;
  margin: 0 auto;
}

.bd-grid {
  display: grid;
  gap: 3.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--primary-color);
  transition: 0.5s;
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--hidden {
  transform:translateY(-100%);
}
/*=== Resolucion CELULARES, transforma el navbar en mobile ===*/
@media screen and (max-width: 830px) {
  .nav__menu {
    position: absolute;
    top: var(--header-height);
    right: -100%;
    min-width: 60%;
    height: 100vh;
    padding-top: 1.5rem;
    text-align: center;
    background-color: #000;
    transition: all .5s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    border-radius: 0 0 1rem 1rem;
  }
  .nav__menu.active {
    background: var(--primary-color);
    right: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}
}

.nav__overlay {
  background-color: hsla(0,0%,100%,.75);
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transition: all .5s ease-in-out;
}

.nav__overlay.active {
  visibility: visible;
  opacity: 1;
  transition: all .5s ease-in-out;
}

@media screen and (max-width: 480px) {
  .nav__menu {
    min-width: 100%;
  }
}
.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link {
  font-weight: var(--font-medium);
  color: var(--black-color);
  transition: .3s;
}

.nav__link.anim-destination{
display: inline-block;
overflow: hidden;
padding-right: 0.5em;
}

.nav__link.anim-destination span {
position: relative;
display: inline-block;
-webkit-transition: -webkit-transform 0.3s;
transition: transform 0.3s;
}

.nav__link.anim-destination span::before {
position: absolute;
white-space: nowrap;	
top: 100%;
content: attr(data-hover);
font-weight: 500;
}

.nav__link.anim-destination:hover span,
.nav__link.anim-destination:focus span {
  color: var(--secondary-color);
-webkit-transform: translateY(-100%);
transform: translateY(-100%);
}

.nav__logo {
  display: block;
  height: 32px;
  width: 124px;
  background-image: url("../../static/assets/img/logo.svg");
}

.nav__toggle {
  cursor:pointer;
}

/*===== SCROLL TOP =====*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  background: rgba(123, 111, 113, .7);
  border-radius: .5rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color);
}

.scrolltop__icon {
  font-size: 2rem;
  color: var(--first-color-lighten);
}

/* Show scroll top */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*===== HOME =====*/
.home {
  overflow: hidden;
}


.about, .works, .background-story, .tools {
  background-color: var(--bg-complementary-color);
}

.cta-banner {
  background-color: #64adf0;
background-image: linear-gradient(117deg, #64adf0 0%, #f193e7 34%, #f8f7a9 68%, #ffffff 100%);

}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.home__data {
  max-width: 100%;
  color: var(--text-color);
}

.home__headline {
  line-height: 2.8rem;
  letter-spacing: var(--biggest-font-letter-spacing);
  color: var(--black-color);
  margin-bottom: 32px;
}

.home__greeting,
.home__presentation {
  display: block;
  font-weight: var(--font-normal);
}

.home__greeting {
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  letter-spacing: var(--small-font-letter-spacing);
  margin-bottom: 32px;
}

.home__presentation {
  font-size: var(--normal-font-size);
  line-height: var(--normal-font-line-height);
  margin-bottom: 32px;
}

.home__img {
  max-width: 100%;
  margin-bottom: 24px;
}

.home__img img {
  width: 240px;
}

/*BUTTONS*/

.text-available-indicator {
  color: var(--medium-turquoise-color);
  font-weight: var(--font-extrabold);
}

.button__container {
  display: flex;
  flex-direction: row;
}

.button {
  --duration: .44s;
  --move-hover: -4px;
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  background-color: var(--alice-blue-color);
  color: var(--text-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 16px 32px rgba(1, 1, 1, 0.16);
  -webkit-transform: translateY(var(--y));
          transform: translateY(var(--y));
  -webkit-transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
}

.button:hover {
  --y: var(--move-hover);
  background-color: #EDEDE8;
}

.button-cta {
  background-color: var(--button-cta-color);
  color: var(--primary-color);
  box-shadow: 0px 16px 32px rgba(1, 0, 254, 0.24);
}

.home-button-cta {
  margin-right: 24px;
}
.button-cta:hover {
  background-color: #0100CC;
}

.button-white {
  background-color: var(--first-color-lighten);
  color: var(--first-color-dark);
}

.button-white:hover {
  background-color: var(--first-color-lighten);
}

.button-link {
  color: var(--button-link-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  letter-spacing: var(--small-caps-font-letter-spacing);
  display: flex;
  align-items: center;
  
}
.button-link-animation:hover box-icon {
  color: #F31658;
  transform: translate(.8rem);
  transition: all 0.8s ease-in-out;
}
.section-support-content {
display: flex;
justify-content: center;
align-items: center;
}

.resume .section-support-content {
  justify-content: flex-start;
  align-items: center;
  }

.subtitle-paragraph {
  margin-bottom: 1rem;
}

/*==== About section =====*/
.support-copy {
text-align: center;
margin-bottom: 40px;
}

.as-work__workflow {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
}

.as-work__workflow__step {
position: static;
width: 396px;
height: 412px;
left: 0px;
top: 0px;
box-shadow: 0px 16px 60px rgba(1, 1, 1, 0.12);
border-radius: 20px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.wrapper {
padding: 7.5rem 0;
}

.wrapper__content{
padding-bottom: 0px;
}

.step-title {
font-size: var(--h2-font-size);
font-weight: var(--font-extrabold);
color: var(--heading-color);
}

/*===== SERVICES =====*/

.card{
overflow: hidden;
border-radius: 2rem;
transition: .4s;
background-color: var(--cards-color);
box-shadow: 0px 16px 60px rgba(1, 1, 1, 0.12);
}

.as-work .card{
overflow: hidden;
border-radius: 0;
transition: .4s;
background-color: unset;
box-shadow: none;
}

.as-work .card__header{
padding: 0;
margin-top: 0;
}

.as-work .card__content{
width: 100%;
padding: 0;
margin-top: 16px;
}

.as-work .card:hover{
transform: translateY(-.5rem);
background-color: var(--bg-color);
box-shadow: none;
}

.knowledge .card{
  overflow: hidden;
  width: 100%;
  border-radius: 0;
  transition: .4s;
  background-color: unset;
  box-shadow: none;
  }
  
  .knowledge .card__header{
  padding: 0;
  margin-top: 0;
  }
  
  .knowledge .card__content{
  width: 100%;
  padding: 0;
  margin-top: 16px;
  }
  
  .knowledge .card:hover{
  transform: translateY(-.5rem);
  background-color: var(--bg-color);
  box-shadow: none;
  }

  .card__list-knowledge {
    display: flex;
flex-direction: column;
align-items: flex-start;
flex: none;
align-self: stretch;
flex-grow: 0;
  }

  .list__knowledge__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 4px;
    margin-bottom: 0.5rem;
  }

  .list__knowledge__item box-icon {
    margin-right: 8px;
  }
.button-link__icon {
margin-left: 4px;
}

.cta-banner .biggest-title {
color: var(--black-color);
}
.emphasis-text {
color: #6665FC;
}
.card__icon, .card__title{
margin-bottom: var(--mb-2);
color: var(--black-color);
}


.box__icon{
background-color: var(--alice-blue-color);
padding: 12px;
width: fit-content;
border-radius: 1rem;
display: flex;
justify-content: center;
align-items: center;
}

.card__title{
font-size: var(--h3-font-size);
}

.card__description{
font-size: var(--small-font-size);
}

.card__header{
padding: 0 42px;
margin-top: 42px;
}

.card__content {
width: 100%;
padding: 0 42px;
margin-top: 16px;
}

.card:hover{
transform: translateY(-.5rem);
background-color: var(--bg-color);
box-shadow: 88px 88px 200px rgba(1, 1, 1, 0.17);
}

.services .card .card__content .tag-services ul{
list-style: none;
margin-bottom: 16px;
padding-left: 0;
margin-left: 0;
display: flex;
flex-wrap: wrap;
}
.services .card .card__content .tag-services ul li{
margin-right: 8px;
}


.tools .card .card__description {
  margin-bottom: 42px;
}
.knowledge__subcontainer{
  background-color: var(--primary-color);
    box-shadow: 0px 16px 60px rgba(1, 1, 1, 0.12);
border-radius: 2rem;
    padding: 5rem;
  display: flex;
  flex-direction: column;
}

.label {
display: flex;
width: fit-content;
padding: .2em .6em .3em;
font-size: var(--small-font-size);
font-weight: var(--font-medium);
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .375rem;
margin-bottom: .5rem;
}

.label-blue {
color: #00adff;
border: solid 0.5px rgba(0,173,255,0.3);
background-color: rgba(0,173,255,0.05);
}
.label-red {
color: #7026BA;
border: solid 0.5px rgba(112,38,186,0.3);
background-color: rgba(112,38,186,0.05);
}
.label-green {
color: #1DBE4A;
border: solid 0.5px rgba(29,190,74,0.3);
background-color: rgba(29,190,74,0.05);
}

.card .button {
margin-bottom: 42px;
}

.project__item {
overflow: hidden;
cursor: pointer;
padding: 16px;
border-radius: 2rem;
background-color: var(--primary-color);
transition: .4s;
box-shadow: 0px 16px 60px rgba(1, 1, 1, 0.12);
}

.project__wrapper-img{
margin: 0;
padding: 0;
max-height: auto;
overflow: hidden;
border-radius: 1.5rem;
}

.project__data{
padding: 16px 42px 26px 42px;
display: flex;
flex-direction: column;

}
.project__subtitle{
font-size: var(--normal-font-size);
margin-top: 16px;
}

.project__title{
font-size: var(--h3-font-size);
color: var(--black-color);
}

.project__item:hover{
transform: scale(1.02) translateY(-.5rem);
transition: all 0.4 ease-in-out;
}

/*=== Footer ===*/
.footer__container{
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
row-gap: 2rem;
}

.footer__logo{
margin-top: 6px;
margin-bottom: 12px;
}

.footer__description{
display: block;
font-size: var(--small-font-size);
margin: .25rem 0 16px;
}

.footer__social_container {
margin-bottom: 16px;
}

.footer__social{
margin-right: 16px;
}

.footer__title{
font-size: var(--title-font-size);
color: var(--black-color);
line-height: normal;
margin-bottom: 32px;
}

.footer__link{
font-weight: var(--font-medium);
display: inline-block;
color: var(--text-color);
margin-bottom: 8px;
transition: .3s;
}

.footer__link.anim-destination{
  display: inline-block;
  overflow: hidden;
  padding-right: 0.5em;
  }
  
  .footer__link.anim-destination span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  }
  
  .footer__link.anim-destination span::before {
  position: absolute;
  white-space: nowrap;	
  top: 100%;
  content: attr(data-hover);
  font-weight: 500;
  }
  
  .footer__link.anim-destination:hover span,
  .footer__link.anim-destination:focus span {
    color: var(--secondary-color);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  }

.footer__copy_container {
margin-bottom: 16px;
}
.footer__copy{
font-size: 12px;
color: var(--text-color);
}

.services__container{
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

/*=== MY STORY ===*/
.summary__headline {
  color: var(--black-color);
  margin-bottom: 8px;
}

.summary__subtitle {
  margin-bottom: 1rem;
}
.tools__container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
/*===== MEDIA QUERIES =====*/

/*=== Resolucion CELULARES ===*/
@media screen and (min-width: 280px){ 
}

@media screen and (min-width: 375px) {
  
}

@media screen and (min-width: 576px) {

  .as-work__container{
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  

  .knowledge__subcontainer{
    
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .knowledge .card{
    width: 25%
    }

  .summary__container,
  .based__container,
  .background-story__container,
  .resume__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }

  
}

/*=== Resolucion IPAD ===*/
@media screen and (min-width: 831px) {

  .works__container{
    grid-template-columns: repeat(2,1fr);
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .home__container {
    padding-top: 7.5rem;
  }

  .home__data {
    max-width: 100%;
    flex: none;
  }

  .home__greeting {
    font-size: var(--small-font-size);
  }

  .home__presentation {
    font-size: var(--normal-font-size);
  }

  .home__img img {
    width: 440px;
  }

  .support-copy {
    max-width: 70%;
    text-align: center;
  }

  .section-description {
    max-width: 50%;
  }
  
}

/*=== Resolucion desktop 1024px ===*/
@media screen and (min-width: 1000px) {
  .home__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .home__data {
    max-width: 50%;
    flex: none;
  }

  .section-description {
    max-width: 50%;
  }

  .home__img img {
    width: 440px;
    margin-bottom: 0;
  }

  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .as-work__workflow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }

  .as-work__workflow__step {
    position: static;
    width: 32%;
    height: 412px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 16px 60px rgba(1, 1, 1, 0.12);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 48px 0px;
  }

  .wrapper {
    padding: 7.5rem 0;
  }

  .wrapper__services{
    padding-bottom: 0px;
  }

  .qualification__container {
    column-gap: 6rem;
  }
}